body {
	font-family: Open Sans, sans-serif;
	color: #4C4C4C;
	font-size: 12px;
	font-style: normal;
	padding: 0px;
	margin: 0px;
	background: #E5E5E5;
}
div, p, a, span {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.pre-header {
	background: #100E2D;
	color: #fff;
	height: 30px;
	line-height: 16px;
}
.socials {
	float: right;
	display: flex;
}
.follow {
	margin: 6px;
}
.instagram {
	margin: 8px 13px 8px 13px;
}
.facebook {
	margin: 8px 13px 8px 13px;
}
.twitter {
	margin: 8px 13px 8px 13px;
}
.youtube {
	margin: 8px 13px 8px 13px;
}
.header {
	background: #fff;
	height: 60px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.logo {
	position: absolute;
	margin: 13px 0 13px 0;
}
.card {
	position: absolute;
	width: 558px;
	height: 602px;
	left: 313px;
	top: 120px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

	background: #FFFFFF;
	border-radius: 4px;

	position: relative;
	text-align: center;
}
h1 {
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	padding: 30px;

	color: #4C4C4C;
}
h4 {
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;

	align-items: center;
	text-transform: uppercase;

	color: #8C8C8C;

	padding: 10px 0 0 0;
}
h5 {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;

	color: #4C4C4C;
}
hr {
	margin: 0 auto;
	width: 126px;

	opacity: 0.2;
	border: 1px solid #A4A6A9;
	margin-bottom: 25px;
}
.social-login {
	display: inline-flex;
	margin: 25px 0 25px 0;
}


.icon:link, .icon:visited {
    transition: all .5s;
}

.icon:hover {
   box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
   transform: translateY(-3px);
   transition: all .5s;
}

.icon:active {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2)
  transform: translateY(-1px);
}

.icon::after{
  content:"";
  text-decoration: none;
  text-transform: uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.vk {
	background: #4767AC;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 20.5px 0 20.5px 0;
	margin: 0 10px 0 10px;
}
.fb {
	background: #6B82C7;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 13px 0 13px 0;
	margin: 0 10px 0 10px;
}
.google {
	background: #F5F5F5;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 15px 0 15px 0;
	margin: 0 10px 0 10px;
}

form {
	width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}
.group { 
	position: relative; 
	margin: 27px 0 27px 0;
}
input {
	font-weight: normal;
	color: #4C4C4C;
	font-size: 16px;
	line-height: 22px;
	padding: 7px 0 7px 0;
	display: block;
	width: 263px;
	border: none;
	border-bottom: 1px solid #A4A6A9;
}
input:focus { 
	outline:none;
}

label {
  color: #A4A6A9; 
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 2px;
  top: 7px;
  transition: all .5s;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  transition: all .5s;
  font-size: 14px;
  color: #7B3CA5;
}
.bar { 
	position: relative;
	display: block;
	width: 263px;
}
.bar:before, .bar:after {
  content:'';
  height: 1px; 
  width: 0;
  bottom: 0; 
  position: absolute;
  background: #7B3CA5; 
  transition: all .5s;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}
/*.register-btn {
	position: relative;
	width: 263px;
	height: 42px;

	margin: 0 auto 25px auto;

	background: #7B3CA5;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
}
.register-btn:hover, .register-btn:focus {
	background-color: #d35400;
}
*/
.box {
  position: relative;
  padding-top: 30px;
  left: 50%;
  transform: translate(-50% ,-50%);
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 40px 10px 40px;
  border-radius: 40px;
  display: inline-block;
  transition: all .5s;
}

.btn-purple {
  background: #7B3CA5;
  color: #fff;
  transition: all .5s;
}

.btn:hover {
   box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
   transform: translateY(-3px);
   transition: all .5s;
}

.btn:active {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2)
  transform: translateY(-1px);
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform: uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-purple::after {
    background: #7B3CA5;
}
.card h5 {
	text-align: center;
}
p {
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;

	color: #1F2836;
}
.card p {
	text-align: center;
	margin-top: 70px;
}